<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand"
         routerLinkActive="active"
         routerLink="/"
      [routerLinkActiveOptions]="{exact: true}">
        Finance App
      </a>
      <a class="navbar-brand" routerLinkActive="active" routerLink="income">Income</a>
      <a class="navbar-brand" routerLinkActive="active" routerLink="shopping">Expense</a>
      <a *ngIf="!loggedIn" class="navbar-brand" routerLinkActive="active" routerLink="register">Register</a>
    </div>
  </div>
</nav>
