<div class="container">
  <div class="col-md-12">
    <div class="input-group col-md-6">
      <label>Name</label>
      <input type="text" class="form-control" [(ngModel)]="name">
    </div>
    <div class="input-group col-md-6">
      <label>Amount</label>
      <input type="number" class="form-control" [(ngModel)]="amount">
    </div>
  </div>


  <div class="input-group mt-3">
    <button class="btn btn-success" (click)="addItem()">Add</button>
    <button class="btn btn-danger" (click)="removeItem()">Delete</button>
    <button class="btn btn-info" (click)="removeAllItems()">Clear</button>
  </div>

  <app-shopping-list *ngFor="let item of items" [name]="item.name" [amount]="item.amount"></app-shopping-list>
</div>

