<div class="container">
  <form class="form-horizontal" [formGroup]="postForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="title" class="col-md-1">Title</label>
      <div class="col-md-4">
        <input type="text" id="title" class="form-control" formControlName="title">
      </div>
    </div>
    <div class="form-group">
      <label for="content" class="col-md-1">Content</label>
      <div class="col-md-4">
        <input type="text" id="content" class="form-control" formControlName="content">
      </div>
    </div>
    <div class="btn-group">
        <button class="btn btn-success" type="submit">Post</button>
        <button class="btn btn-warning" type="button" (click)="clearAllPosts()">Clear</button>
    </div>
  </form>

  <div class="row">
    <button class="btn btn-info" (click)="getPosts()">Get Posts</button>
  </div>
  <div class="row">
    <p *ngIf="loadedPosts.length < 1 && !isLoading">No Posts</p>
    <ul class="listGroup" *ngIf="loadedPosts.length >= 1 && !isLoading">
      <li class="list-group-item" *ngFor="let post of loadedPosts">
        <h3>{{post.title}}</h3>
        <p>{{post.content}}</p>
      </li>
    </ul>
    <p *ngIf="isLoading">...Loading</p>
  </div>

</div>
