<div class="container">
  <h3>Recipe Name</h3>
  <div class="btn-group" appDropdown>
    <button class="btn btn-success dropdown-toggle">Recipe Detail <span class="caret"></span></button>
    <ul class="dropdown-menu">
      <li><a href="#">Edit</a></li>
      <li><a href="#">Delete</a></li>
    </ul>
  </div>

  <p>Id: {{recipe.id}}</p>
  <p>description: {{recipe.description}}</p>
  <p>Ingredients: </p>

  <a
    [routerLink]="['/recipes', 5]"
    [queryParams]="{allowEdit: '1'}"
    fragment="loading"
  >Load recipe 5</a>
</div>
